<div class="form-container">

  <!-- Mostrar solo si no se ha seleccionado una especialidad -->
  <h2 *ngIf="!pacienteSeleccionado && !isPaciente">Seleccione un paciente</h2>
  <div *ngIf="!pacienteSeleccionado && !isPaciente" class="especialidades-container">
    <button *ngFor="let paciente of pacientes" class="paciente-button" (click)="onPacienteSelect(paciente)">
      <div class="profesional-info">
        <p>{{ paciente.nombre }} {{ paciente.apellido }}</p>
        <img [src]="paciente.perfil1" alt="{{ paciente.nombre + paciente.apellido }}" class="especialidad-img" />
      </div>
    </button>
  </div>


  <h2 *ngIf="!especialidadSeleccionada && !isAdmin || pacienteSeleccionado && mostrarEspecialidades" class="mb-3">Seleccione una Especialidad</h2>
  
  <!-- Mostrar solo si no se ha seleccionado una especialidad -->
  <div *ngIf="!especialidadSeleccionada && !isAdmin || pacienteSeleccionado && mostrarEspecialidades" class="especialidades-container">
    <button *ngFor="let especialidad of especialidades" class="especialidad-button" (click)="onEspecialidadSelect(especialidad)">
      <img [src]="obtenerRutaImagen(especialidad)" alt="{{ especialidad }}" class="especialidad-img" />
    </button>
  </div>

  <!-- Mostrar solo si se ha seleccionado una especialidad -->
  <div *ngIf="especialidadSeleccionada && arrEspecialistas.length > 0 && !mostrarDisponibilidad" class="profesionales-container">
    <h3>Seleccione un Profesional</h3>
    <div class="profesionales-list">
      <button *ngFor="let especialista of arrEspecialistas" class="profesional-button" (click)="onEspecialistaSelect(especialista)">
        <div class="profesional-info">
          <p>{{ especialista.nombre }} {{ especialista.apellido }}</p>
          <img [src]="especialista.perfil1" alt="{{ especialista.nombre }}" class="profesional-img" />
        </div>
      </button>
    </div>
  </div>

  <!-- Mostrar solo si se ha seleccionado un especialista -->
  <div *ngIf="mostrarDisponibilidad && diasDisponibles.length > 0 && !mostrarConfirmarTurno" class="dias-horarios-container">
    <h3>Seleccione un Horario</h3>
    <div class="horarios-wrapper">
      <div class="horarios-list">
        <button *ngFor="let hora of horariosDisponibles" class="horario-button" (click)="onHoraSelect(hora)">
          {{ hora }}
        </button>
      </div>
    </div>
  </div>
  

  <!-- Mostrar solo si se ha seleccionado un horario -->
  <div *ngIf="selectedHora && mostrarConfirmarTurno" class="confirmar-turno-container">
    <h3>Confirmar Turno</h3>
    <div class="confirmar-turno-info">
      <p *ngIf="isAdmin" >Paciente: {{ paciente.nombre }} {{ paciente.apellido }}</p>
      <p>Profesional: {{ selectedEspecialista.nombre }} {{ selectedEspecialista.apellido }}</p>
      <p>Especialidad: {{ selectedEspecialidad }}</p>
      <p>Fecha: {{ selectedHora }}</p>
    </div>
    <button class="btn btn-primary" (click)="onConfirmarTurno()">Confirmar Turno</button>
  </div>

  <!-- Agregar botón Volver al inicio -->
  <button *ngIf="especialidadSeleccionada" class="btn btn-secondary float-start mt-3" (click)="onVolver()">Volver</button>
</div>
