<div class="container text-center mt-5">
  <h1 class="mb-4">Selecciona tu tipo de usuario</h1>
  
  <div *ngIf="!showForm" class="row justify-content-center mt-4">
    <div class="col-md-4">
      <button (click)="showPacienteForm()" class="btn btn-light option-button">
        <img src="media/paciente.png" alt="Paciente" class="option-image"/>
        <span class="option-text">Paciente</span>
      </button>
    </div>
    <div class="col-md-4">
      <button (click)="showSpecialistForm()" class="btn btn-light option-button">
        <img src="media/doctor.png" alt="Especialista" class="option-image"/>
        <span class="option-text">Especialista</span>
      </button>
    </div>
  </div>

  <div *ngIf="showForm" class="text-start mt-4">
    <app-pacient-form *ngIf="isPacienteFormVisible"></app-pacient-form>
    <app-specialist-form *ngIf="!isPacienteFormVisible"></app-specialist-form>
  </div>
</div>
