<div class="container mt-5">
  <h3>Mis Turnos - Especialista</h3>

  <!-- Filtros -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="col-12">
        <div class="search-bar">
          <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="terminoBusqueda" (input)="filtrarTurnos()">
        </div>
      </div>
    </div>
  </div>

  <!-- No hay turnos -->
  <div *ngIf="turnos.length === 0" class="alert alert-warning">
    No tienes turnos asignados.
  </div>

  <!-- Tabla de turnos -->
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Especialidad</th>
          <th>Paciente</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnosFiltrados | paginate: { itemsPerPage: pageSize, currentPage: page }">
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.paciente.nombre }} {{ turno.paciente.apellido }}</td>
          <td>{{ turno.dia }}</td>
          <td>{{ turno.hora }}</td>
          <td>
            <span [ngClass]="{
              'text-success': turno.estado === 'realizado',
              'text-warning': turno.estado === 'pendiente',
              'text-danger': turno.estado === 'cancelado',
              'text-primary': turno.estado === 'aceptado',
              'text-secondary': turno.estado === 'rechazado'
            }">
              {{ turno.estado | uppercase }}
            </span>
          </td>
          <td>
            <!-- Acciones según el estado del turno -->
            <div *ngIf="turno.estado === 'pendiente'" class="btn-group">
              <button class="btn btn-danger btn-sm" (click)="cancelarTurno(turno.id)">
                <i class="bi bi-x-circle"></i> Cancelar
              </button>
              <button class="btn btn-warning btn-sm" (click)="rechazarTurno(turno.id)">
                <i class="bi bi-x-circle"></i> Rechazar
              </button>
              <button class="btn btn-success btn-sm" (click)="aceptarTurno(turno.id)">
                <i class="bi bi-check-circle"></i> Aceptar
              </button>
            </div>

            <div *ngIf="turno.estado === 'aceptado'" class="btn-group">
              <button class="btn btn-primary btn-sm" (click)="finalizarTurno(turno.id)">
                <i class="bi bi-pencil-square"></i> Finalizar
              </button>
            </div>
                        
            <div *ngIf="turno.comentario" class="btn-group">
              <button class="btn btn-info btn-sm" (click)="verResena(turno.id)">
                <i class="bi bi-eye"></i> Ver Reseña
              </button>
            </div>

            <div *ngIf="turno.estado === 'realizado' && !turno.historiaClinica" class="btn-group">
              <button class="btn btn btn-dark btn-sm" (click)="realizarHistoriaClinica(turno.id)">
                <i class="bi bi-eye"></i> Realizar Historia clinica
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>



 <!-- Modal para cancelar el turno -->
 <div class="modal fade" id="cancelarTurnoModal" tabindex="-1" aria-labelledby="cancelarTurnoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelarTurnoModalLabel">Cancelar Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="comentarioCancelacion">Comentario de cancelación:</label>
        <textarea id="comentarioCancelacion" class="form-control" [(ngModel)]="comentarioCancelacion" rows="3" placeholder="Escribe el motivo de la cancelación..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="confirmarCancelacion()">Confirmar Cancelación</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para rechazar el turno -->
<div class="modal fade" id="rechazarTurnoModal" tabindex="-1" aria-labelledby="rechazarTurnoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rechazarTurnoModalLabel">Rechazar Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body
      ">
        <label for="comentarioRechazo">Comentario de rechazo:</label>
        <textarea id="comentarioRechazo" class="form-control" [(ngModel)]="comentarioRechazo" rows="3" placeholder="Escribe el motivo del rechazo..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="confirmarRechazo()">Confirmar Rechazo</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para finalizar el turno -->
<div class="modal fade" id="finalizarTurnoModal" tabindex="-1" aria-labelledby="finalizarTurnoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finalizarTurnoModalLabel">Finalizar Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body
      ">
        <label for="comentarioFinalizacion">Comentario de finalización:</label>
        <textarea id="comentarioFinalizacion" class="form-control" [(ngModel)]="comentarioFinalizacion" rows="3" placeholder="Escribe un comentario sobre el turno..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="confirmarFinalizacion()">Confirmar Finalización</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Historia Clínica -->
<div class="modal fade" id="historiaClinicaModal" tabindex="-1" aria-labelledby="historiaClinicaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="historiaClinicaModalLabel">Historia Clínica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="historiaClinicaForm.reset()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="historiaClinicaForm">
          <div class="mb-3">
            <label for="altura" class="form-label">Altura</label>
            <input type="text" class="form-control" id="altura" formControlName="altura">
            <div *ngIf="historiaClinicaForm.get('altura')?.invalid && historiaClinicaForm.get('altura')?.touched" class="text-danger">
              Altura es obligatoria y debe ser un número decimal con hasta dos decimales.
            </div>
          </div>
          <div class="mb-3">
            <label for="peso" class="form-label">Peso</label>
            <input type="text" class="form-control" id="peso" formControlName="peso">
            <div *ngIf="historiaClinicaForm.get('peso')?.invalid && historiaClinicaForm.get('peso')?.touched" class="text-danger">
              Peso es obligatorio y debe ser un número entero o decimal con hasta dos decimales.
            </div>
          </div>
          <div class="mb-3">
            <label for="temperatura" class="form-label">Temperatura</label>
            <input type="text" class="form-control" id="temperatura" formControlName="temperatura">
            <div *ngIf="historiaClinicaForm.get('temperatura')?.invalid && historiaClinicaForm.get('temperatura')?.touched" class="text-danger">
              Temperatura es obligatoria y debe ser un número decimal con hasta un decimal.
            </div>
          </div>
          <div class="mb-3">
            <label for="presion" class="form-label">Presión</label>
            <input type="text" class="form-control" id="presion" formControlName="presion">
            <div *ngIf="historiaClinicaForm.get('presion')?.invalid && historiaClinicaForm.get('presion')?.touched" class="text-danger">
              Presión es obligatoria y debe ser en el formato "120/80".
            </div>
          </div>
          <div formArrayName="datosDinamicos">
            <div class="mb-3" *ngFor="let dato of datosDinamicos.controls; let i = index" [formGroupName]="i">
              <label for="clave{{i}}" class="form-label">Clave</label>
              <input type="text" class="form-control" id="clave{{i}}" formControlName="clave">
              <div *ngIf="dato.get('clave')?.invalid && dato.get('clave')?.touched" class="text-danger">Clave es obligatoria</div>
              <label for="valor{{i}}" class="form-label">Valor</label>
              <input type="text" class="form-control" id="valor{{i}}" formControlName="valor">
              <div *ngIf="dato.get('valor')?.invalid && dato.get('valor')?.touched" class="text-danger">Valor es obligatorio</div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="agregarDatoDinamico()">Agregar Dato Dinámico</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="historiaClinicaForm.reset()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarHistoriaClinica()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ver el comentario -->
<div class="modal fade" id="verComentarioModal" tabindex="-1" aria-labelledby="verResenaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verResenaModalLabel">Reseña del Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body
      ">
        <p><strong>Comentario:</strong> {{ comentarioSeleccionado }}</p>
        <p *ngIf="comentarioCalificacion"><strong>Calificación:</strong> {{ comentarioCalificacion }} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>  
  </div>
