<div class="container mt-5 text-center">
  <img src="icon_hospital.png" alt="Icono de Hospital" class="hospital-icon mb-3"/>
  <h2 class="welcome-title">Bienvenido a Nuestra Clínica</h2>
  <p class="welcome-subtitle">Su salud es nuestra prioridad.</p>

  <div class="services mt-4">
    <h3 class="section-title">Servicios Ofrecidos</h3>
    <div class="row">
      <div class="col-md-6" *ngFor="let service of services">
        <div class="card mb-3 service-card">
          <div class="card-body">
            <h5 class="card-title">{{ service.name }}</h5>
            <p class="card-text">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
