.container {
    margin-top: 20px;
    background-color: white;
  }
  
  .table-responsive {
    margin-top: 20px;
    max-height: 400px; /* Limitar la altura de la tabla */
    overflow-y: auto; /* Agregar scroll vertical */
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-dark {
    color: #fff;
    background-color: #343a40;
  }
  
  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #454d55;
  }
  
  .table-dark.table-bordered {
    border: 0;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }